*{
  padding:0;
 margin:0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container{
  margin-top:12px;
  margin:auto;
  width:1080px;
  height:auto;
}
.head-title {
  color:#1db954;
  text-align:center;
}
.main-container{
  margin-top:32px;
  display:flex;
  width:1080px;
  height:580px;

}

.song-container{
   
  margin-left:16px;
  margin-right:16px;
  width:50%;
  height:100%;
  background-color:#0d0d0d;
  border-radius:6px;
}

.mostplayed-container{
   
  margin-left:16px;
  margin-right:16px;
  width:25%;
  height:100%;
  background-color:#0d0d0d;
  border-radius:6px;
}

.playlist-container{
  
  margin-left:16px;
  margin-right:16px;
  width:25%;
  height:100%;
  background-color:#0d0d0d;
  border-radius:6px;
}

.song-content{
  padding:18px 20px;
  width:100%;
  height:100%;
  border-radius:6px;
  
}
.song-content h2{
  color:white;
  margin-bottom:32px;
}

.play-icon{
  position: absolute;
  display:block;
  top:78%;
  left:60%;
  width:10px;
  height:10px;
  padding:5px 5px;
  background: #1DB954;
  border-radius: 50%;
}


.song-grid{
  display:grid;
  grid-template-columns: auto auto auto;
  margin-top:24px;
  row-gap:12px;
}

.song-pic{
  position: relative;
}
.album-pic{
  width:120px;
  height:120px;
  
  
}

.title-artist{
  color:white;
}

.title-artist h4{
  font-size:12px;
}
.title-artist p{
  font-size:8px;
  color:#d9d9d9;
}


.mostplayed-container{
   
  margin-left:16px;
  margin-right:16px;
  width:25%;
  height:100%;
  background-color:#0d0d0d;
  border-radius:6px;
}

.mostplayed-content{
  padding:18px 20px;
}

.mostplayed-content h2{
  color:white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
